.venv/
venv/
env/
ENV/

.idea/
.vscode/
*.code-workspace

__pycache__/
*.py[cod]
*$py.class

*.log
*.tmp
*.bak

*.env
.env
.DS_Store

build/
dist/
*.egg-info/

data/
datasets/
checkpoints/
outputs/
models/
runs/

.ipynb_checkpoints/

Thumbs.db
desktop.ini
